* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  color: black;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.center {
  text-align: center;
  margin: auto;
}

.meme {
  position: relative;
}

.meme--image {
  border-radius: 5px;
  /* margin-top: 5em; */
  height: 100%;
  width: 100%;
  max-width: 1800px;
  max-height: 1200px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: right-bottom;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px !important;
  font-family: impact, sans-serif !important;
  font-size: 2em;
  text-transform: uppercase;
  color: white !important;
  letter-spacing: 1px !important;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000 !important;
}

.flex-container {
  display: flexbox;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  list-style: none;
}
/* .cite--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px !important;
  font-family: impact, sans-serif !important;
  font-size: .25em;
  text-transform: uppercase;
  color: white !important;
  letter-spacing: 1px !important;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000 !important;
} */
.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

.header--banner {
  background-color: rgba(41, 87, 56, 0.208)
}

.header--image {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  
}

.header--text {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 50px !important;
  font-family: impact, sans-serif !important;
  font-size: 2em;
  text-transform: uppercase;
  color: white !important;
  letter-spacing: 1px !important;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000 !important;
}